@{
    ViewData["Title"] = "Home Page";
}

<div ng-app="runner">
    <!--this is specific to angular-ui-router.js-->
    <!--if the angular-route.js is used, the html would be <div ng-view></div>-->
    <ui-view></ui-view>
</div>
